<div class="card bg-light">
    <div class="card-body">
        <h5 class="card-title text-center">Agregar Cita</h5>

        
        <div class="form-group mb-3">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" class="form-control" placeholder="Ingerse su nombre">
        </div>
        
        <div class="form-group mb-3">
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" class="form-control">
        </div>

        <div class="form-group mb-3">
            <label for="hora">Hora:</label>
            <input type="time" id="hora" class="form-control">
        </div>

        <div class="form-group mb-3">
            <label for="asunto">Asunto:</label>
            <textarea id="Asunto" rows="3" class="form-control" placeholder="Describa el asunto"></textarea>
        </div>

        <button style="width: 100%;" class="btn btn-primary btn-block">Agregar Cita</button>
    </div>
</div>
